/* line 7, ../scss/style2.scss */
body {
  overflow: hidden;
  font-family: 'Times New Roman';
  margin: 0;

}

/* line 72, ../scss/style2.scss */
#texto {
  width: 40%;
  margin: 177px 30px;
  padding: 5px 10px 5px 10px;
  -webkit-border-radius: 10px 0 10px 0;
  -moz-border-gradient: 10px 0 10px 0;
  border-radius: 10px 0 10px 0;
  border: 5px outset #77200A;
  background-color: rgba(226, 197, 180, 0.3);
  color: #2B0E06;
  font-size: 17px;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5);
}
/* line 78, ../scss/style2.scss */
#texto h1 {
  color: #790000;
  font-size: 50px;
  font-family: "veteran typewriter";
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  font-size: 40px;
  margin: 2px 4%;
}
/* line 83, ../scss/style2.scss */
#texto p {
  margin: 5px 5%;
}
/* line 86, ../scss/style2.scss */
#texto h3 {
  font-size: 20px;
  color: #750A0A;
}

/* line 92, ../scss/style2.scss */
#loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../Img/Pared.jpg");
}

/* line 95, ../scss/style2.scss */
#barraDeCarga {
  width: 80%;
  height: 50px;
  margin: -30px auto;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-gradient: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border: 5px outset #77200A;
  background-color: rgba(226, 197, 180, 0.3);
  color: #2B0E06;
  font-size: 17px;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5);
}

/* line 102, ../scss/style2.scss */
#porcentaje {
  position: relative;
  z-index: 99;
  color: #2b0e06;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

/* line 112, ../scss/style2.scss */
#carga {
  position: relative;
  width: 0%;
  height: 100%;
  background-color: #C67710;
  margin: -38px 0 0 0;
}

/* line 120, ../scss/style2.scss */
#instrucciones {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../Img/Pared.jpg");
  height: auto;
}
/* line 123, ../scss/style2.scss */
#instrucciones #interno {
  background-color: rgba(226, 197, 180, 0.3);
  color: #2B0E06;
  font-size: 17px;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-gradient: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border: 5px outset #77200A;
  height: auto;
  margin: 10px 24%;
}
/* line 129, ../scss/style2.scss */
#instrucciones h1 {
  color: #790000;
  font-size: 50px;
  font-family: "veteran typewriter";
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
/* line 132, ../scss/style2.scss */
#instrucciones h4 {
  margin: 3px 0;
  padding: 6px 30px;
  font-family: Arial;
  border-top: 1px solid #5E0202;
}
/* line 138, ../scss/style2.scss */
#instrucciones #aviso {
  font-family: arial;
  background-color: yellow;
  margin: 5px 23%;
  padding: 1px;
  width: 50%;
  border: 5px solid black;
  border-radius: 5px;
}

/* line 149, ../scss/style2.scss */
#Img {
  margin: 0 0 0 35%;
}

/* line 152, ../scss/style2.scss */
#Img2 {
  margin: -10% 0 10px 11%;
}

/* line 155, ../scss/style2.scss */
.linea {
  width: 100%;
  height: 10%;
  background: #664400;
  position: static;
  margin: 0 0 10% 0;
  box-shadow: 0 0 50px 5px rgba(19, 19, 19, 0.85);
}

/* line 163, ../scss/style2.scss */
.myButton {
  -moz-box-shadow: inset 0px 1px 0px 0px #ba8a7b;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ba8a7b;
  box-shadow: inset 0px 1px 0px 0px #ba8a7b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ae7563), color-stop(1, #a67258));
  background: -moz-linear-gradient(top, #ae7563 5%, #a67258 100%);
  background: -webkit-linear-gradient(top, #ae7563 5%, #a67258 100%);
  background: -o-linear-gradient(top, #ae7563 5%, #a67258 100%);
  background: -ms-linear-gradient(top, #ae7563 5%, #a67258 100%);
  background: linear-gradient(to bottom, #ae7563 5%, #a67258 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$colorbt', endColorstr='$colorbtt',GradientType=0);
  background-color: #ae7563;
  border: 1px solid #793330;
  display: inline-block;
  cursor: pointer;
  color: #2B0E06;
  font-family: arial;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
  margin: 10px 0 30px 66%;
  padding: 9px 36px;
}

/* line 168, ../scss/style2.scss */
.myButton:hover {
  box-shadow: inset 0 0 2px 3px rgba(19, 19, 19, 0.6);
}

/* line 172, ../scss/style2.scss */
.myButton1 {
  text-align: center;
  -moz-box-shadow: inset 0px 1px 0px 0px #ba8a7b;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ba8a7b;
  box-shadow: inset 0px 1px 0px 0px #ba8a7b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ae7563), color-stop(1, #a67258));
  background: -moz-linear-gradient(top, #ae7563 5%, #a67258 100%);
  background: -webkit-linear-gradient(top, #ae7563 5%, #a67258 100%);
  background: -o-linear-gradient(top, #ae7563 5%, #a67258 100%);
  background: -ms-linear-gradient(top, #ae7563 5%, #a67258 100%);
  background: linear-gradient(to bottom, #ae7563 5%, #a67258 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$colorbt', endColorstr='$colorbtt',GradientType=0);
  background-color: #ae7563;
  border: 1px solid #793330;
  display: inline-block;
  cursor: pointer;
  color: #2B0E06;
  font-family: arial;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
  margin: 5px 31px;
  width: 80%;
}

/* line 178, ../scss/style2.scss */
.myButton1:hover {
  box-shadow: inset 0 0 2px 3px rgba(19, 19, 19, 0.6);
}

/* line 182, ../scss/style2.scss */
#game {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../Img/fondoMenu.jpg");
  box-shadow: inset 0 0 91px 54px rgba(19, 19, 19, 0.85);
}

/* line 189, ../scss/style2.scss */
#menu1 {
  margin: 0 0 0 40px;
}
/* line 191, ../scss/style2.scss */
#menu1 #menu2 {
  -webkit-border-radius: 10px 0 10px 0;
  -moz-border-gradient: 10px 0 10px 0;
  border-radius: 10px 0 10px 0;
  border: 5px outset #77200A;
  background-color: rgba(226, 197, 180, 0.3);
  color: #2B0E06;
  font-size: 17px;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5);
  padding: 4px 4px 14px 4px;
  width: 40%;
}
/* line 197, ../scss/style2.scss */
#menu1 h2 {
  margin: 0 0 0 60px;
  padding: 10px 1px;
  color: #790000;
  font-size: 50px;
  font-family: "veteran typewriter";
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

/* line 204, ../scss/style2.scss */
.social-link {
  margin: 0 0 0 70%;
}

/* line 208, ../scss/style2.scss */
ul.social-link li {
  list-style: none;
}
/* line 210, ../scss/style2.scss */
ul.social-link li a {
  display: block;
  float: left;
  width: 65px;
  height: 65px;
  text-indent: -999px;
  margin: 19% -15px 0 -15px;
}

/* line 221, ../scss/style2.scss */
.faceboo {
  background: url("../Img/faceboo.png") no-repeat;
}

/* line 221, ../scss/style2.scss */
.facebook {
  background: url("../Img/facebook.png") no-repeat;
}

/* line 224, ../scss/style2.scss */
#taco {
  position: fixed;
  margin: 35% 80% 10% 80%;
  visibility: hidden;
}

/* line 229, ../scss/style2.scss */
#aguja {
  position: fixed;
  margin: 38.5% 87.5% 10% 85%;
  visibility: hidden;
  transform: rotateZ(0deg);
}

#reloj {
  font-family: "veteran typewriter";
  position: fixed;
  text-align: center;
  color: #790000;
  font-size: 50px;
  font-family: "veteran typewriter";
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  color: #F0DF43;
  margin: 2% 35%;
  visibility: hidden;
}

/* line 246, ../scss/style2.scss */
#carita {
  position: fixed;
  width: 20%;
  right: 30px;
  margin: 2% 0;
  visibility: hidden;
}
/* line 252, ../scss/style2.scss */
#carita #zombie {
  float: left;
}
/* line 255, ../scss/style2.scss */
#carita h2 {
  margin: 27px 117px 0 0;
  color: #790000;
  font-size: 50px;
  font-family: "veteran typewriter";
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  color: #F0DF43;
  float: right;
}

/* line 263, ../scss/style2.scss */
#barra {
  position: fixed;
  width: 30%;
  height: 50px;
  -webkit-border-radius: 20px 0 0 0;
  -moz-border-gradient: 20px 0 0 0;
  border-radius: 20px 0 0 0;
  border: 5px outset #77200A;
  border-color: white;
  bottom: 12%;
  right: 15%;
  visibility: hidden;
}

/* line 273, ../scss/style2.scss */
#nitro {
  position: fixed;
  width: 30%;
  height: 50px;
  border-radius: 20px 0 0 0;
  background-color: #72E8EC;
  visibility: hidden;
}

#sangre{
  position: fixed;
  margin: 0;
  visibility: hidden;
}